# Copy this file to .env and replace the placeholders with your own values

# Used by the slack_poster.rb script
SLACK_BOT_TOKEN=xoxb-REPLACE-ME

# Used by the Github MCP Server
GITHUB_PERSONAL_ACCESS_TOKEN=github_pat_REPLACE_ME
